* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .wrapper {
    max-width: 1600px;
    display: block; 
    margin-left: 150px;
    
  }
  .header {
    max-width: 1600px;
    padding-left: 150px;
    padding-right: 100px;
  }

  .month {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    text-decoration: none;
    padding-top: 20px;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
  }
  .month::first-letter {
    color: rgb(70, 224, 191);
  }

  .menu li {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border-bottom: 2px solid transparent;
  }

  nav {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 64px);
    text-align: right;
  }

  .menu li:hover {
    color: rgb(70, 224, 191);
  }

  .travel_title  {
    text-align: center; 
    padding-top: 200px;
    padding-bottom: 10px;
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: "Roboto";  
    font-weight: 900;
  }


  .button1 {
    background-image: url('https://www.flaticon.com/svg/vstatic/svg/892/892512.svg?token=exp=1616835798~hmac=ed2d0b6db328fa349eb040c50bfa0c02');
    background-color: rgb(78, 198, 171);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 200px;
    width: 104px;
    height: 104px;
    left: 245px;
   }
   

  .button2 {
    background-image: url('https://www.flaticon.com/svg/vstatic/svg/892/892528.svg?token=exp=1616835775~hmac=9d12dfd3fc8e9b8b509f8fde0ab6e9c3');
    background-color: rgb(78, 198, 171);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 200px;
    width: 104px;
    height: 104px;
    left: 1252px;
   }

   .button1:hover {
     background-color: rgb(21, 150, 122);
   }
   .button2:hover {
    background-color: rgb(21, 150, 122);
   }
   
   
  .travel_subtitle {
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
    color: hsl(71, 41%, 95%);
    font-family: "Roboto";  
  }

  .travel {
    width: 1600px;
    height: 600px;
    position: relative; 
  }
  
  .travel::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(./image/slide4.jpg) center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .magazine {
    text-align: center;
  }

  .magazine_title {
    text-align: center; 
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 150px;
    font-size: 60px;
    color: rgb(29, 27, 27);
    font-family: "Roboto"; 
  }

  .magazine_title::after {
    display: block;
    content: '';
    text-align: center;
    width: 200px;
    height: 8px;
    background: rgb(78, 198, 171);
    margin-top: 20px;
    margin-left: 600px;
  }

  .goods {
    display: inline-block;
    padding-left: 20px;
    position: relative; 
  }

  .goods:hover > .icons {
    display: block;
  }

  .goods_image {
    display: inline-block;
    height: 250px;
    width: 250px; 
  }

  .goods_image:hover {
     filter: contrast(40%);
  }

  .icons {
    display: none;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 10px;
  }

  .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
  }

  .icon:hover {
    background-color: rgb(61, 209, 177);
  }

  .heart {
    background-image: url('https://www.flaticon.com/svg/vstatic/svg/812/812327.svg?token=exp=1616835922~hmac=3cd43a4d99aa352665181c086e1b24de');
  }

  .arrows {
    background-image: url('https://www.flaticon.com/svg/vstatic/svg/339/339894.svg?token=exp=1616836130~hmac=4a6c2f8a4dd293cd717b20630899e07e');
  }

  .clock {
    background-image: url('https://www.flaticon.com/svg/vstatic/svg/860/860806.svg?token=exp=1616836391~hmac=af9a59ae4a2e235fe49a2ca3b3e317e4');
  }

  .cart {
    background-image: url('https://www.flaticon.com/svg/vstatic/svg/833/833314.svg?token=exp=1616836602~hmac=5a6a1d854a92de68101be145d41e04ef');
  }


  .footer {
    color: rgb(225,225,225);
    background-color: rgb(50,50,50);
    font-size: 16px;
    height: 35px;
  }

  .footer ::after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }

  .goods:hover .footer {
    background: rgb(26, 188, 156);
  }

  .goods:hover .footer_price {
    background: rgb(120, 209, 191);
  }

  .footer_description {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding: 10px;
  }

  .footer_price {
    display: block;
    padding: 10px;
    background-color:dimgray;
    height: 100%;
    float: right;
  }

  .address {
    height: 75px;
    margin-top: 50px;
    padding-top: 30px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(50,50,50);
    text-align: center;
  }