* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .header {
    min-width: 320px;
  }

  .head {
    max-width: 1600px;
    margin: 0 auto;
  }

  .logo {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    padding: 16px 0;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
  }
  .logo::first-letter {
    color: #46e0bf;
  }

  .menu-link {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: 700; 
  }

  nav {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 64px);
    text-align: right;
  }

  .menu :hover {
    color: #46e0bf;
    border-bottom: 2px solid  #46e0bf;
  }

  .travel {
    position: relative;
    min-width: 320px;
  }

  .travel_content {
    max-width: 1600px; 
    height: 600px;
    margin: 0 auto;
    }

  .travel::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(./image/slide4.jpg) center;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
    filter: brightness(0.6);
  }

  .travel_title  {
    text-align: center; 
    padding-top: 200px;
    padding-bottom: 10px;
    font-size: 60px;
    color: #ffffff;
    font-family: "Roboto";  
    font-weight: 900;
  }

  .travel_subtitle {
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
    color: #f6f7ed;
    font-family: "Roboto";  
  }

  .button1 {
    background-image: url('./image/iconfinder_left-arrow-back_2931162.png');
    background-color: #4ec6ab;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    position: absolute;
    top: 200px;
    width: 104px;
    height: 104px;
    left: calc(50% - 700px);
    border: none;
   }
   

  .button2 {
    background-image: url('./image/iconfinder_right-forward-arrow_2931159.png');
    background-color: #4ec6ab;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    position: absolute;
    top: 200px;
    width: 104px;
    height: 104px;
    right: calc(50% - 700px);
    border: none;
   }

   .button1:hover {
     background-color: #15967a;
   }
   .button2:hover {
    background-color: #15967a;
   }

   .magazine {
    min-width: 320px
   }


  .magazine_info {
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
  }

  .magazine_title {
    text-align: center; 
    margin-bottom: 150px;
    font-size: 60px;
    color: #1d1b1b;
    font-family: "Roboto"; 
  }

  .magazine_title::after {
    display: block;
    content: '';
    text-align: center;
    width: 200px;
    height: 8px;
    background: #4ec6ab;
    margin: 0 auto;
  }

  .goods {
    display:inline-block;
    width: 300px;
    margin-left: 20px;
    position: relative; 
  }

  .goods:hover > .icons {
    display: block;
  }

  .goods_image {
    display: inline-block;
    max-width: 100%; 
    margin-left: 0px;
  }

  .goods:hover >.goods_image {
     filter: brightness(0.5);
  }

  

  .icons {
    display: none;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
  }

  .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
  }

  .icon:hover {
    background-color: #3dd1b1;
  }

  /*.icon:hover > .goods_image {
    filter: brightness(0.5);
  }*/

  .heart {
    background-image: url('./image/20.png');
    
  }

  .arrows {
    background-image: url('./image/shuffle.png');
  }

  .clock {
    background-image: url('./image/time_clock_icon_129580.png');
  }

  .cart {
    background-image: url('./image/shopping-cart.png');
  }

  .card_info {
    color: #e1e1e1;
    background-color: #323232;
    font-size: 16px;
    height: 35px;
  }

  .card_info::after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }

  .goods:hover .card_info {
    background: #1abc9c;
  }

  .goods:hover .card_price {
    background: #78d1bf;
  }

  .card_description {
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
  }

  .card_price {
    display: block;
    padding: 8px;
    background-color:#696969;
    height: 100%;
    float: right;
  }

  .footer {
    min-width: 320px;
    background-color: #323232;
    margin-top: 50px;
  }

  .footer_info {
    max-width: 1600px;
    margin: 0 auto;
    height: 75px;
    padding-top: 30px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
  }