* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .header {
    min-width: 350px;
  }

  .head {
    max-width: 1600px;
    margin: 0 auto;
  }

  .month {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    padding-top: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
  }
  .month::first-letter {
    color: rgb(70, 224, 191);
  }

  .menu-link {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border-bottom: 2px solid transparent;
  }

  nav {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 64px);
    text-align: right;
  }

  .menu :hover {
    color: rgb(70, 224, 191);
  }

  .travel {
    position: relative;
    min-width: 350px;
  }

  .travel_content {
    max-width: 1600px; 
    height: 600px;
    margin: 0 auto;
    }

  .travel_content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(./image/slide4.jpg) center;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
    filter: brightness(0.6);
  }

  .travel_title  {
    text-align: center; 
    padding-top: 200px;
    padding-bottom: 10px;
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: "Roboto";  
    font-weight: 900;
  }

  .travel_subtitle {
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
    color: hsl(71, 41%, 95%);
    font-family: "Roboto";  
  }

  .button1 {
    background-image: url('./image/iconfinder_left-arrow-back_2931162.png');
    background-color: rgb(78, 198, 171);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 200px;
    width: 104px;
    height: 104px;
    left: calc(50% - 700px);
   }
   

  .button2 {
    background-image: url('./image/iconfinder_right-forward-arrow_2931159.png');
    background-color: rgb(78, 198, 171);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 200px;
    width: 104px;
    height: 104px;
    right: calc(50% - 700px);
   }

   .button1:hover {
     background-color: rgb(21, 150, 122);
   }
   .button2:hover {
    background-color: rgb(21, 150, 122);
   }

   .magazine {
    min-width: 350px
   }


  .magazine_info {
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
  }

  .magazine_title {
    text-align: center; 
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 150px;
    font-size: 60px;
    color: rgb(29, 27, 27);
    font-family: "Roboto"; 
  }

  .magazine_title::after {
    display: block;
    content: '';
    text-align: center;
    width: 200px;
    height: 8px;
    background: rgb(78, 198, 171);
    margin-top: 20px;
    margin-left: 600px;
  }

  .goods {
    display:inline-block;
    width: 300px;
    padding-left: 20px;
    position: relative; 
  }

  .goods:hover > .icons {
    display: block;
  }

  .goods_image {
    display: inline-block;
    max-width: 100%; 
  }

  .goods_image:hover {
     filter: brightness(0.5);
  }

  

  .icons {
    display: none;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 10px;
  }

  .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
  }

  .icon:hover {
    background-color: rgb(61, 209, 177);
  }

  /*.icon:hover > .goods_image {
    filter: brightness(0.5);
  }*/

  .heart {
    background-image: url('./image/20.png');
    
  }

  .arrows {
    background-image: url('./image/shuffle.png');
  }

  .clock {
    background-image: url('./image/time_clock_icon_129580.png');
  }

  .cart {
    background-image: url('./image/shopping-cart.png');
  }

  .card_info {
    color: rgb(225,225,225);
    background-color: rgb(50,50,50);
    font-size: 16px;
    height: 35px;
  }

  .card_info ::after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }

  .goods:hover .card_info {
    background: rgb(26, 188, 156);
  }

  .goods:hover .card_price {
    background: rgb(120, 209, 191);
  }

  .card_description {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding: 10px;
  }

  .card_price {
    display: block;
    padding: 10px;
    background-color:dimgray;
    height: 100%;
    float: right;
  }

  .footer {
    min-width: 350px;
  }

  .footer_info {
    max-width: 1600px;
    margin: 0 auto;
    height: 75px;
    margin-top: 50px;
    padding-top: 30px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(50,50,50);
    text-align: center;
  }